[edit]
command = "code"
args = [ "--wait" ]

[merge]
command = "bash"
args = [
  "-c",
  "cp '{{"{{.Target}}"}}' '{{"{{.Target}}"}}.base' && code --wait --merge '{{"{{.Destination}}"}}' '{{"{{.Target}}"}}' '{{"{{.Target}}"}}.base' '{{"{{.Source}}"}}'"
]